Source: cubicweb-timeseries
Section: web
Priority: optional
Maintainer: LOGILAB S.A. (Paris, FRANCE) <contact@logilab.fr>
Uploaders: Alexandre Fayolle <afayolle@debian.org>, Aurélien Campéas <aurelien.campeas@logilab.fr>
Build-Depends: debhelper (>= 5.0.37.1), python (>=2.5), python-dev (>=2.5)
Homepage: http://www.cubicweb.org/project/cubicweb-timeseries
Standards-Version: 3.8.0


Package: cubicweb-timeseries
Architecture: all
Depends:
 cubicweb-common (>= 3.16.0),
 python-numpy,
 python-xlrd,
 python-xlwt,
 python-cwtags
Recommends: python-openpyxl
Description: Timeseries component for the CubicWeb framework
 CubicWeb is a semantic web application framework.
 .
 Timeseries component for the CubicWeb framework
 .
 This package will install all the components you need to run the
 cubicweb-timeseries application (cube :)..
